{% extends "layout.njk" %}

{% block head %}
<title>{{home.title1}} - Início</title>
{% endblock %}


{% block conteudo %}

<div id="UmNomeQualquer" class="links">
    <img src="{{home.avatar_url}}" alt = "Imagem de {{home.title1}}"
        alt="Daniel Dantas">
    <h1>{{home.title1}}</h1>
    <h2>{{home.title2}}</h2>
    <p>{{home.description}}</p>
</div>

<div id="linkMudar" class="links">
    {% for link in home.links %}
        <a href="link.url" target="_blank">{{home.name}}</a>
    {% endfor %}
</div>

{% endblock %}