<!DOCTYPE html>

<html>
    <head>
        {% block head %}
            <title>Star Wars</title>
        {% endblock %}
        <link rel="stylesheet" href="/styles.css">
        <link rel ="shortcut icon" href = "Boba.png">

    </head>

    <body>
      <header>
          <div class ="links">
              <a href ="/">INÍCIO</a>
              <a href= "https://www.starwars.com/" target="_blank">SITE OFICIAL</a>
              <a href = "/programacao">PROGRAMAÇÃO</a>
              <a href ="mailto: daniel-dantas10@hotmail.com">FALE CONOSCO</a>
          </div>
      </header>


      {% block conteudo %}

      {% endblock %}

      <footer>
          <div class="rodape">
              <p> Todos os direitos reservados </p>
          </div>
      </footer>
    </body>
</html>